language: node_js
node_js:
- "9"

script: echo "Running tests against $(node -v) ..."

jobs:
  include:
    #- stage: prerelease
    #  script: npm run semantic-release
    - stage: npm release
      script: echo "Deploying to npm ..."
      deploy:
        provider: npm
        email: zetxx@belogradchik.biz
        api_key: $NPM_API_KEY
        on: master